$gap: 10px;
$perc: (25/150) * 100%;

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;


  &--child{
    border: 1px dotted black;
    margin: $gap;
    text-align: center;
    padding: 10px;
    flex-basis: calc(#{$perc} - (#{$gap} * 2));
    box-sizing: border-box;
    flex-grow: 5; /* Allows children on overflow lines to be justified */

    &:nth-child(7n){
      background: red;
      color: white;
      flex-basis: 100%;
    }
  }
}



